/* ### Lots ### */

.lots-controls {
  position:absolute;
  left:10px;
  top:70px;
  width:90px;
  z-index:10;
  }

.icon.lots-1 { background:url(/assets/tilemill-lots/sprite.png) 0px 0px no-repeat; }
.icon.lots-2 { background:url(/assets/tilemill-lots/sprite.png) -20px 0px no-repeat; }
.icon.lots-4 { background:url(/assets/tilemill-lots/sprite.png) -40px 0px no-repeat; }

.lots-controls a {
  padding:0px 4px 0px 5px;
  width:20px;
  height:20px;
  background:url(/assets/tilemill/images/mask-48-90.png);
  color:#fff;
  margin-right:1px;
  float:left;
  text-align:center;
  }

.lots-controls a.lots-1 {
  border-radius:3px 0px 0px 3px;
  }

.lots-controls a.lots-4 {
  padding-left:4px;
  border-radius:0px 3px 3px 0px;
  }

.zoom-display.compact {
  bottom:0px;
  right:0px;
  top:auto;
  left:auto;
  border-radius:3px 0px 0px 0px;
  padding:0px;
  width:20px;
  }

.lots.maps-1 .zoom-display.compact,
.lots.maps-2 .wax-legends,
.lots.maps-2 .wax-tooltip,
.lots.maps-4 .wax-legends,
.lots.maps-4 .wax-tooltip { display:none; }

.lots.maps-2 #map-0,
.lots.maps-4 #map-0 {
  top:0px;
  bottom:auto;
  height:50%;
  }

.lots.maps-2 #map-1,
.lots.maps-4 #map-1 {
  top:auto;
  bottom:0px;
  height:50%;
  }

.lots.maps-4 #map-1 {
  top:0px;
  bottom:auto;
  }

.lots.maps-4 #map-0,
.lots.maps-4 #map-2 {
  left:0px;
  right:auto;
  width:50%;
  }

.lots.maps-4 #map-1,
.lots.maps-4 #map-3 {
  left:auto;
  right:0px;
  width:50%;
  }

.lots.maps-4 #map-2,
.lots.maps-4 #map-3 {
  top:auto;
  bottom:0px;
  height:50%;
  }

.lots.maps-2 #map-1 { border-top:1px solid #666; }
.lots.maps-4 #map-1,
.lots.maps-4 #map-3 { border-left:1px solid #666; }
.lots.maps-4 #map-2,
.lots.maps-4 #map-3 { border-top:1px solid #666; }

